@model Trip_Adviser.WEATHER

@{
    ViewBag.Title = "Delete";
    Layout = "RESTAUTRANTsController";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WEATHER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.May)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.May)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.June)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.June)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.July)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.July)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dcm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dcm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeatherDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeatherDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeatherAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeatherAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACE.PlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACE.PlaceName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
